.loginBody{
	background-image: url(../img/login/qe.png);
	background-size: 100%;
	/*overflow: hidden;*/
}
.dengluContent{
	width: 90%;
	height: 340px;
	margin: 0 auto;
	overflow: auto;
	background-color: #fff;
	/*background: pink;*/
	border-radius: 5px;
	box-shadow: 1px 1px 1px #CCCCCC;
}
#screen { 
	width: 100%; 
	height:160px; 
	position: relative;
	margin: 0 auto;
	vertical-align: bottom;
	}
#inner { 
	position: absolute; 
	left:0px; 
	top:0px; 
	width:100%; 
	height:100%; 
}
#inner>div{
	width: 15px;
	height:15px;
	border-radius: 50%;
}
.one { 
	background:url('../img/login/a0c.png') no-repeat; 
	background-size: 100% auto;
}
.two { 
	background:url('../img/login/a0d.png') no-repeat; 
	background-size: 100% auto;
	}
.three { 
	background:url('../img/login/a0e.png') no-repeat; 
	background-size: 100% auto;
	}
.four { 
	background:url('../img/login/a0f.png') no-repeat; 
	background-size: 100% auto;
	}
.five { 
	background:url('../img/login/a0g.png') no-repeat; 
	background-size: 100% auto;
	}
.six { 
	background:url('../img/login/a0h.png') no-repeat; 
	background-size: 100% auto;
	}
.seven { 
	background:url('../img/login/a0i.png') no-repeat; 
	background-size: 100% auto;
	}
.eight { 
	background:url('../img/login/a0j.png') no-repeat; 
	background-size: 100% auto;
	}

/*验证码登录的按钮*/
.dengluStyle{
	height: 40px;
	padding: 0 20px;
	position: relative;
	top: 40px;
}
.dengluStyle>p{
	height: 40px;
}
.dengluStyle>p>img{
	width: 40px;
	float: left;
}
.dengluStyle>p>span{
	height: 40px;
	line-height: 40px;
	display: block;
	float: right;
	/*background: gold;*/
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	/*line-height: 20px;*/
}
/*多点的logo图标*/
.duodianLogo{
	text-align: center;
}
.duodianLogo>img{
	width: 120px;
}
/*验证码登录的模块*/
.yanzhenCon{
	width: 80%;
	margin: 0 auto;
	margin-top: 18px;
	/*background: red;*/
}
.inputBox{
	/*background: yellow;*/
}
.inputBox>input::-webkit-input-placeholder{  
    color:#B6B6B6;  
} 
.inputBox>input:focus{
	color:#ff680a;
}	
.inputBox>input{
	/*height: 50px;*/
	border: none;
	margin-bottom: 2px;	
	text-shadow: 0px 0px 0px #000;
    -webkit-text-fill-color: transparent;
    padding-left: 0px;
}
/*.inputBox>input::placeholder{
	color: #B6B6B6;
}*/
 
.inputBox>.xian{
	height: 2px;
	background-color: #EEEEEE;
}
/*input获取焦点的时候出现的橘黄色的线*/
.orangeXian{
	width: 0;
	display: block;
	height: 2px;
	background-color: #ff680a;
}
/*input上面的文字说明*/
.inputTop{
	height: 20px;
	color: #ff680a;
	margin-bottom: 0px;
}
/*密码输入框*/
#yaz_passw{
	width: 60%;
	/*background: yellow;*/
}
.mui-content .get_code{
	/*width: 20%;*/
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 18px;
	background: #ff680a;
}
/*登录的按钮*/
.dengluBtn{
	width: 100%;
	border: none;
	border-radius: 20px;
	line-height: 30px;
	background-color: #ff680a;
	color: #fff;
	font-size: 20px;
	margin-top: 30px;
}
.nozuce{
	margin-top:30px;
	font-size: 12px;
	text-align: center;
}
/*同意的复选框*/
/*登录*/
.agreeCheck{
	/*width: 200px;*/
	/*background-color: yellow;*/
	padding-top: 0;
	font-size: 13px;
	height: 20px;
	position: relative;
	top: -5px;
	/*background: yellow;*/
}
.agreeCheck>input[type="checkbox"]{
display: inline-block;  
vertical-align: middle;  
width: 15px;  
height: 15px;  
margin-left: 5px;
-webkit-appearance: none;  
border: 0;  
outline: 0 !important;  
line-height: 20px;  
color: #d8d8d8;
position: absolute;
top: 3px;
left: 0px;
}
.agreeCheck>input[type=checkbox]:after  {  
content: "";  
display:block;  
width: 15px;  
height: 15px;  
text-align: center;   
font-size: 16px;  
color: #fff;  
border-radius: 2px;  
background-color: #515e82;  
box-sizing:border-box;  
}
.agreeCheck>input[type=checkbox]:checked:after  {  
background:url(../img/login/a0m.png); 
background-position: center;
}
.agreeCheck label{
	font-size: 12px;
	font-weight: 900;
	font-family: "微软雅黑";
	color: #bebebe;
	position: absolute;
	top: 0px;
	left: 30px;
}
.agreeCheck label>a{
	color: #ff680a;
}
/*保持登录结束*/

/*其他的登录方式*/
.dengluStyleContent{
	overflow: auto;
	margin-top: 2px;
	background-color: #fff;
}
.dengluStyleBox{
	width: 60%;
	height: 1px;
	background-color: #eee;
	margin: 0 auto;
	margin-top: 50px;
}
.dengluStyleBox>p{
	width: 50%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: -9px;
	background: #fff;
}
.img_row{
	margin: 0 auto;
	width: 60%;
}
.img_row>div{
	margin-top: 30px;
	text-align: center;
}
.img_row>div>img{
	width:40%;
}
