*{
	font-family: "微软雅黑";
}
.indexBody{
	width: 100%;
	height: 2000px;
	background-image: url(../img/index/a6t.png);
	/*background: red;*/
	background-repeat: no-repeat;
	background-size: 100%;
	
}
.saoyisao,.vip{
	text-align: center;
	/*background: yellow;*/
}
.saoyisao>span,.vip>span{
	/*height: 20px;*/
	display: block;
	color: #fff;
}
.indexHeader{
	/*background: yellow;*/
	box-shadow: none;
	padding-top: 10px;
	height: 55px;
}
.indexHeader>a>span:nth-child(1){
	font-size: 22px;
}
.indexHeader>a>span:nth-child(2){
	font-size: 12px;
}
/*给页面的怎个body加上背景*/
.mainBox{
	padding: 0 10px;
	background: #fff;
	margin-top: 145px;
	/*padding-top: 0;*/
	position: relative;
}
/*导航条菜单栏*/
.nav_menu>a{
	text-align: center;
	margin-left: 3%;
	margin-top: 10px;
}
.nav_menu>a>span{
	display: block;
}
.nav_menu>a>span:nth-child(2){
	font-size: 13px;
	color: #636363;
}
/*热门活动*/
.mainBox>h4{
	margin-top: 20px;
}
/*智能购优惠卷开始*/
.disc_coupon>img{
	width:60%;
}
.vipImg{
	margin-top: 8px;
}
.vipImg>img{
	width: 100%;
}
.downBox>p{
	padding: 0 3px;
}
.downBox>p>img{
	width: 100%;
}
.main_bottom{
	text-align: center;
	padding-bottom: 10px;
}
.main_bottom>img{
	width: 80%;
}
/*底部送到家*/
.scan{
	width:50%;
	height: 80px;
	background-color: rgba(0,0,0,0.1);
	position: fixed;
	bottom: 30px;
	left: 50%;
	transform:translate(-50%);
	border-radius: 50px;
	font-size: 14px;
	z-index: 988;	
}
.scan2{
	width:95%;
	height: 70px;
	background-color: rgba(0,0,0,0.1);
	position: fixed;
	bottom: 5px;
	left: 50%;
	transform:translate(-50%);
	border-radius: 50px;
}
.scan3{
	width:95%;
	height: 60px;
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	bottom: 5px;
	left: 50%;
	transform:translate(-50%);
	border-radius: 50px;
	color: #fff;
}
.scan3>p:nth-child(1){
	height: 60px;
	text-align: center;
}
.scan3>p:nth-child(1)>img{
	width: 65%;
	margin-top: 8px;
}
.mui-scroll-wrapper{
	background-image: url(../img/index/a6t.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.mui-scroll{
	top: 0;
	/*bottom: 0;*/
}
/*超市*/
.supMarkte{
	width: 70%;
	/*background: #fff;*/
	background-image: url(../img/index/vz.9.png);
	background-size: 100%;
	background-repeat:no-repeat ;
	position: absolute;
	top: -80px;	
	left: 50%;
	transform: translate(-50%);
}

.supMarkte>p{
	margin-top: 15px;
}
.supMarkte>p:nth-child(1){
	text-align: center;
}
.supMarkte>p:nth-child(1)>img{
	width: 70%;
	margin-top: 5px;
}
.supMa_font{
	font-size: 13px;
}
.supMa_title{
	font-size: 19px;
	font-weight: bold;
	border-radius: 5px;	
}
